<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waste Wise Solutions</title>
  <link rel="icon" href="/imgs/logo.jpg" type="image/icon type">
  <link rel="stylesheet" href=" /css/style.css">
  <link rel="stylesheet" href="/src/output.css">
</head>
<body>
  <nav class="nav-bar flex justify-between bg-[#084C27] items-center text-white text-xl ">
    <div class="logo mx-10">
     <img src="/imgs/logo.jpg" class="logo ">
    </div>
    <!-- Hamburger menu -->
    <div class="flex md:hidden">
      <button type="button" class="text-white hover:text-gray-400 focus:outline-none focus:text-gray-400" aria-label="toggle menu">
        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/>
        </svg>
      </button>
    </div>
    <div class="components hidden md:flex gap-10 items-center">
     <div class="home   hover1">
      <a href="/ "> Home</a> 
     </div>
     <div class="book  hover1">
      <a href="/book"> Book</a>
     </div>
     <div class="my-profile  hover1 ">
      <a href="/rewards"> Rewards</a>
     </div>
     <div class="sign-in rounded-lg p-1  hover1">
      <a href="/user/signin"> Sign-In</a>
     </div>
     <div class="sign-up mr-6  hover1 ">
      <a href="/user/signup">Sign-Up</a>
     </div>
    </div>
  </nav>
  <div class="content flex flex-col md:flex-row">
    <div class="left w-full md:w-1/2 mt-10 mx-3  ">
      <div class="heading text-[#0A502F] font-bold ">
        <h1 class="text-5xl "> Waste Wise Solutions </h1>
      </div>
      <div class="content-para">
        <p class="text-3xl mt-10 ">At Waste Wise Solutions, we believe in creating a cleaner, healthier planet for future generations. Our mission is to provide innovative and sustainable disposal solutions that minimize environmental impact and promote responsible waste management practices.  we're committed to addressing the most pressing environmental issues of our time, starting with waste disposal. </p>
      </div>
    </div>
    <div class="right w-full md:w-1/2 mt-10 md:mt-0">
      <img class="img1 w-full" src="/imgs/waste.jpg" > 
    </div>
  </div>
  <div class="supporting-para mt-3 ">
    <div class="heading text-white font-bold ">
      <h1 class="text-5xl text-center "> Why  Waste Wise Solutions ?</h1>
    </div>
    <div class="content-para flex justify-evenly mt-10 items-center  ">
     <div class="why-1">
      <img class="rounded-img" src="/imgs/why-1.jpg">
     </div>
     <div class="why-2">
      <img class="rounded-img" src="/imgs/why-2.jpg">
     </div>
     <div class="why-3">
      <img class="rounded-img" src="/imgs/why-3.jpg">
     </div>
    </div>
  </div>
  <div class="working">
    <div class="heading text-black font-bold  ">
      <h1 class="text-3xl text-center mt-6 "> How it works ? </h1>
    </div>
    <div class="work-content text-white font-bold flex justify-evenly items-center">
      <div class="work-content-1 rounded-lg w-[30%] ">
        <h1 class="text-3xl"> Schedule a pickup </h1>
        <img src="/imgs/pickup.png" class="mt-10 ml-8" >
      </div>
      <div class="work-content-2 rounded-lg w-[30%]">
        <h1 class="text-3xl"> Pickup at your address</h1>
        <img src="/imgs/address.png" class="mt-10" > 
      </div>
      <div class="work-content-3 rounded-lg w-[35%]">
        <h1 class="text-3xl "> Get Bonus Points</h1>
        <img src="/imgs/Bonus.png" class=" bonus mt-10" >
      </div>
    </div>
  </div>
  <div class="footer bg-[#084C27] text-white 3xl mt-6 text-center">
    <p>&#169; Copyright | All rights reserved 
      <br/>
      Contact us at :  <img src="/imgs/insta.png" class="insta inline cursor-pointer"></p>
  </div>
  <!-- Mobile menu -->
  <div class="hidden md:hidden">
    <div class="mt-2 pb-3">
      <a href="#" class="block p-2 text-white hover:bg-gray-800">Home</a>
      <a href="#" class="block p-2 text-white hover:bg-gray-800">Book</a>
      <a href="#" class="block p-2 text-white hover:bg-gray-800">My Profile</a>
      <a href="#" class="block p-2 text-white hover:bg-gray-800">Sign In</a>
      <a href="#" class="block p-2 text-white hover:bg-gray-800">Sign Up</a>
    </div>
  </div>
  <script src="/javascript/script.js"></script>
</body>
</html>