<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waste Wise Solutions</title>
  <link rel="icon" href="/imgs/logo.jpg" type="image/icon type">
  <link rel="stylesheet" href=" /css/style.css">
  <link rel="stylesheet" href="/src/output.css">
</head>
<body>
  <nav class="nav-bar flex justify-between bg-[#084C27] items-center text-white text-xl ">
    <div class="logo mx-10">
     <img src="/imgs/logo.jpg" class="logo ">
    </div>
    <!-- Hamburger menu -->
    <div class="flex md:hidden">
      <button type="button" class="text-white hover:text-gray-400 focus:outline-none focus:text-gray-400" aria-label="toggle menu">
        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/>
        </svg>
      </button>
    </div>
    <div class="components hidden md:flex gap-10 items-center">
     <div class="home   hover1">
      <a href="/ "> Home</a> 
     </div>
     <div class="book  hover1">
      <a href="/book"> Book</a>
     </div>
     <div class="my-profile  hover1 ">
      <a href="/rewards"> Rewards</a>
     </div>
     <div class="sign-in rounded-lg p-1  hover1">
      <a href="/user/signin"> Sign-In</a>
     </div>
     <div class="sign-up mr-6  hover1 ">
      <a href="/user/signup">Sign-Up</a>
     </div>
    </div>
  </nav>
  <div class="main bg-white ">
    <div class="points">
      <img class="point" src="/imgs/points.jpg">
      <span> 0</span>
    </div>
    <h1 class=" text-center  text-5xl my-8 "> Rewards </h1>
    <div class="items ">
    <div class="item ml-10 ">
      <img class="rounded-img pointer" src="/imgs/item1.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item2.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item3.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item4.jpg">
    </div>
    <div class="item ml-10">
      <img class="rounded-img pointer" src="/imgs/item5.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item6.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item7.jpg">
    </div>
    <div class="item ">
      <img class="rounded-img pointer" src="/imgs/item8.jpg">
    </div>
    </div>
  </div>
  </body>
  </html>